<div id="<%= dom_id entity %>" class="entity-container">
  <p>Transaction N° <%= entity.id %>: <strong><%= entity.name %></strong></p>

  <p class="lighter-text">Date: <%= entity.formatted_date %></p>

  <div class="divisor"></div>

  <div class="trans-total"> <p>Total Amount:</p><strong>$<%= entity.amount %></strong></div>
</div>
