<%= form_with(model: group) do |form| %>
  <% if group.errors.any? %>
    <div class="error-container" style="color: red">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
        <% group.errors.each do |error| %>
          <li>* <%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
    <div class="divisor"></div>
  <% end %>

  <div class="input-container">
    <%= form.label :name, style: "display: none" %>
    <%= form.text_field :name, placeholder: "CATEGORY NAME" %>
  </div>
  <div class="divisor"></div>
  <div class="input-container">
    <%= form.label :icon, style: "display: none" %>
    <%= form.text_field :icon, placeholder: "ICON URL" %>
  </div>
  <div class="divisor"></div>

  <%= form.hidden_field :user_id, value: group.user.id %>

  <div class="input-container">
    <%= form.submit "SAVE CATEGORY", class: "save-btn" %>
  </div>
<% end %>
