<%= link_to group_entities_path(group), class: "group-link-container" do %>
  <div id="<%= dom_id group %>" class="group-container">
    <%= image_tag group.icon, alt: "Group Icon", class: "group-icon" %>
  
    <h3 class="group-name"><%= group.name %></h3>

    <h2 class="group-total"><%= group.total_amount %></h2>

  </div>
<% end %>